@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Montserrat', system-ui, 'Segoe UI', 'Open Sans', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #fff;
}

.header__ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem
}

.header__ctas {
  border: 1px solid #000;
  padding: .5rem 1rem;
  background-color: #000;
  color: #fff;
  transition: background-color .3s ease-in-out;
}

.header__ctas:hover {
  background-color: #fff;
  color: #000;
}

.main {
  position: relative;
  background-color: #000;
}

.main__svg-container {
  position: relative;
  height: 100dvh;
}

.main__h1-container {
  min-width: 80%;
  color:rgba(255, 255, 255, 0.895);
  position: absolute;
  padding: 4rem 4rem;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  text-align: center;
}

.main__p {
  font-size: 1.8rem;
  margin: 4rem;
  font-weight: 300;
}

.main__cta-one, .main__cta-two {
  display: inline-block;
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
  padding: .8rem 1.5rem;
  margin: 2rem;
  transition: background-color .3s ease-in-out;
}

.main__cta-one:hover, .main__cta-two:hover {
  background-color: #000;
  color: #fff;
}

.approach {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  max-width: 120rem;
  padding: 8rem 4rem;
  gap: 4rem;
  color: #fff;
}

.approach__left {
  max-width: 50rem;
}

.approach__cta-one, .approach__cta-two {
  color: #fff
}

.services__cards {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  color: #fff;
}

